/* the @media print to specify this only affect the content when printed*/
@media print {
	.page {
		/* we remove margin and padding*/
		margin: 0;
		padding: 0;
		/* we position the .page body on the top left angle of the page*/
		position: absolute;
		left: 0;
		top: 0;
	}
}

@page {
	size: 100mm 148mm;
	margin: 0mm 5mm;
}

body {
	text-align: center;
}

p {
	white-space: pre-line;
}

@font-face {
	font-family: "VG5000";
	src:url("../fonts/VG5000-Regular.otf");

	font-family: "BluuNext";
	src:url("../fonts/BluuNext-Bold.otf");	
}

#para1 {
	font-size: 14px;
	color: #00FFFF;
	font-family: "VG5000";
}

#para2 {
	font-size: 14px;
	color: #FF00FF;
	font-family: "BluuNext";
}

.row {
	display: flex;
}

.column {
	padding-right: .1em;
	padding-left: .1em;
	flex: 50%;
}