html, body {
	height: 100%;
	margin: 0;
}

body{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 90%;
	padding: 1cm;
}

.sentences {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	height: 100%;
	padding: 0 1cm 0 1cm;
}

p {
	font-size: 20px;
	margin: 0;
	text-align: center;
}


/* the @media print to specify this only affect the content when printed*/
@media print {
	@page {
		/* we remove margin and padding*/
		margin: 1rem 1rem;
		padding: 25mm;
		/* we position the .page body on the top left angle of the page*/
		left: 0;
		top: 0;
	}
}