.page {
	/* width of the page */
	width: 100 mm;

	/* height of the page */
	height: 148 mm;

	/* shadow to see the page in the browser if the background is transparent*/
	box - shadow: 0 0 0.5 rem rgba(0, 0, 0, 0.25);

	/* to position the children absolutely, we need to specify the relative position of the page */
	position: relative;
	overflow: hidden;
	margin: 2e m auto;
}


/* the @media print to specify this only affect the content when printed*/
@media print {
	.page {
		/* we remove margin and padding*/
		margin: 0;
		padding: 0;
		/* we position the .page body on the top left angle of the page*/
		position: absolute;
		left: 0;
		top: 0;
	}
	body{
		font-size:10em;
	}
}


@page{
	size: 100mm 148mm;
	margin: 5mm 5mm;
}

body{
	text-align: center;
}

p{
	font-size: 15px;
}

.blue{
	color: blue;
}
.red{
	color: red;
}
.green{
	color: green;
}

.row {
	display: flex;
}

.column {
	padding-right: .1em;
	padding-left: .1em;
	flex: 50%;
}