html, body {
	background-color: black;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

@font-face {
	font-family: "BluuNext";
    src:url("../printer/fonts/BluuNext-Bold.otf");	
}

#box {
	border: solid;
	border-width: 3px;
	border-color: #00FFFF;
	top: 30%;
	position: absolute;
	align-self: center;
	width: 60%;
	height: 30%;
	display: flex;
	flex-direction: column;
	border-color: #00FFFF;
}

#roulette {
	position: absolute;
	text-align: center;
	align-self: center;
	font-size: 100px;
	top: 5%;
	color: #00FFFF;
	font-family: "BluuNext";
}